# Ignore everything 
/*
# Except spatula project
!/spatula_project/

# Except requirements file
!/requirements.txt
# ignore database
/spatula_project/db.sqlite3
/spatula_project/spatula_project/security_key.py
//spatula_project/spatula_project/settings.py
/spatula_project/spatula_project/__pycache__/*
/spatula_project/spatulaApp/__pycache__/*
/spatula_project/spatulaApp/templatetags/__pycache__/*
/spatula_project/spatulaSearchAPI/__pycache__/*
/spatula_project/spatulaApp/migrations/*
spatula_project/spatulaApp/templatetags/__pycache__/spatulaApp_template_tags.cpython-37.pyc
*.jpg
*.pyc
*.pyc
spatula_project/media/media/images/usruploads/profile.png
