body {
    margin: 0px;
    /* also declare font and font size */
    font-size: small;
    
}

@media (min-width: 550px){
	#top {
		margin: 0px;
		padding: 0px;
		height: 40px;
		width: 100%;
		border-bottom: 2px solid #d1d4e0;
	}
	#logo {
		height: 100%;
	}
	#searchbar {
		position: absolute;
		width: 50%;
		margin: 5px;
		margin-left: 10%;
		height: 24px;
		border: 2px solid #d1d4e0;
		border-radius: 8px;
	}
	#profilepic {
		float: right;
		height: 40px;
	}
	#signin {
		float: right;
		height: 100%;
		border: none;
		background-color: white;
	}
	#username, #password {
		margin: 2px;
		width: 96%;
		height: 24px;
		border: 2px solid #d1d4e0;
		border-radius: 4px;
	}

	#containerregister, #containersignin {
		margin: 2px;
		height: 24px;
		background-color: #000000;
		color: #ffffff;
		border: 2px solid #000000;
		border-radius: 4px;
		width: 47.5%;
	}
	#container{
		display: none;
		position: relative;
		float: right;
		width: 240px;
		border: 2px solid #d1d4e0;
		border-radius: 4px;
	}
	#logged_in{
		float:right;
	}
	
	#userImage{ 
		display:none;
	}
	#searchIcon{ 
		display:none;
	}
	.sidenav{
		display:none;
	}
}

@media (max-width: 550px){
	#top {
		margin: 0px;
		padding: 0px;
		height: 40px;
		width:100%;
		border-bottom: 2px solid #d1d4e0;
	}
	#logo {
		height: 100%;
	}
	#searchbar {
		visibility: hidden;
		position: absolute;
		width: 50%;
		margin: 5px;
		margin-left: 10%;
		height: 24px;
		border: 2px solid #d1d4e0;
		border-radius: 8px;
	}
	#profilepic {
		float: right;
		height: 40px;
	}
	#signin {
		visibility: hidden;
		float: right;
		height: 100%;
		border: none;
		background-color: white;
	}
	#username, #password {
		margin: 2px;
		width: 96%;
		height: 24px;
		border: 2px solid #d1d4e0;
		border-radius: 4px;
	}

	#containerregister, #containersignin {
		margin: 2px;
		height: 24px;
		background-color: #000000;
		color: #ffffff;
		border: 2px solid #000000;
		border-radius: 4px;
		width: 47.5%;
	}
	#container{
		display: none;
		position: relative;
		float: right;
		width: 240px;
		border: 2px solid #d1d4e0;
		border-radius: 4px;
	}
	#logged_in{
		visibility:hidden;
		float:right;
	}
	#userImage{ 
		float:left;
		height: 100%;
		margin-right:10px;
		margin-left:10px;
	}
	#searchIcon{ 
		float:right;
		height: 100%;
	}
	
}
/*sidenav css*/
@media (max-width:550px){
	.sidenav {
	  height: 100%;
	  width: 0;
	  position: fixed;
	  z-index: 1;
	  top: 0;
	  left: 0;
	  background-color: #111;
	  overflow-x: hidden;
	  transition: 0.5s;
	  padding-top: 60px;
	  float:right;
	}

	.sidenav a {
	  padding: 8px 8px 8px 32px;
	  text-decoration: none;
	  font-size: 25px;
	  color: #818181;
	  display: block;
	  transition: 0.3s;
	}

	.sidenav a:hover {
	  color: #f1f1f1;
	}

	.sidenav .closebtn {
	  position: absolute;
	  top: 0;
	  right: 25px;
	  font-size: 36px;
	  margin-left: 50px;
	}

	@media screen and (max-height: 450px) {
	  .sidenav {padding-top: 15px;}
	  .sidenav a {font-size: 18px;}
	}
}