body {
    margin: 0px;
    /* also declare font and font size */
    font-size: small;
    overflow-y:scroll;
    
}

#header{
	height:50px;
}

.row{
    margin-block-end: 1%;
}

#logo {
    height: 80%;
    margin: 5px;
    margin-left: 20px;
}

#profilepic {
    float: right;
    height: 40px;
}

#signin:hover{
    background-color: #7e4940;
    cursor: pointer;
}
#username, #password {
    margin: 8px;
    margin-bottom: 0px;
    width: 280px;
    height: 24px;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
}
/* the standard container for pages outwith index
    Used in recipe_page and account_page
*/

#document_container_master {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    overflow:auto; 
    border-left: 8px solid #ffffff;
    border-right: 8px solid #ffffff;
    background-color: #ffffff;
}


/** This css styling is for elements inside the #document_container_main */
#page_title{
    text-align: center;
    margin-top: 5%;
    margin-block-end: 1%;
    margin-inline-end: 1%;
    width: 100%;
}

.page_element{
    margin-left: 1%;
    float:left;
    margin-inline-end: 1%;
}

h2.page_element{
    margin-left: 1%;
    clear: left;
    width: 100%; /* aka put items below the heading*/
}

p.page_element{
    text-overflow: ellipsis;
}

#recipies {
    /*position: relative;
    margin-left: auto;
    margin-right: auto;*/
    /*width: 900px;*/
    overflow:auto; 
    border-left: 8px solid #ffffff;
    border-right: 8px solid #ffffff;
    background-color: #ffffff;
}

@media screen and (min-device-width: 1024px){
    body {
        margin: 0px;
        overflow-y:scroll;
    }
    #top {
        overflow: hidden;
        background-color: #EBD4C0;
        position: fixed;
        top: 0;
        width: 100%;
        height: 50px;
        z-index:100;

    }
    #logo {
        height: 80%;
        margin: 5px;
        margin-left: 20px;
    }
    #searchbar {
        position: fixed;
        left: calc(50% - 357px);
        width: 700px;
        margin: 10px;
        height: 30px;
        border: 2px solid #FFFFFF;
        border-radius: 4px;
    }
    #profilepic {
        float: right;
        height: 40px;
    }
    #signin {
        float: right;
        height: 100%;
        border: none;
        background-color: #562e33;
        color: #FFFFFF;
        font-weight: bold;
        transition: 0.2s;
    }
    #signin:hover{
        background-color: #7e4940;
        cursor: pointer;
    }

    #username, #password {
        margin: 8px;
        margin-bottom: 0px;
        width: 280px;
        height: 24px;
        border: 2px solid #FFFFFF;
        border-radius: 4px;
    }

    #containerregister, #containersignin {
        margin: 8px;
        margin-right: 0px;
        float: left;
        height: 28px;
        background-color: #562e33;
        color: #ffffff;
        border: 2px solid #562e33;
        border-radius: 4px;
        width: 138px;
        transition: 0.2s;
    }
    #containerregister:hover, #containersignin:hover{
        background-color: #7e4940;
        border: 2px solid #7e4940;
        cursor: pointer;
    }

    #container{
        z-index: 99;
        position: fixed;
        top: -200px;
        right: 0px;
        width: 300px;
        background-color: #EBD4C0;
        border-radius: 4px;
        transition: 0.5s;
    }

    #logged_in{
        float:right;
    }
	
	#userImage{ 
		display:none;
	}
	#searchIcon{ 
		display:none;
	}
	.sidenav{
		display:none;
	}
}

@media screen and (max-device-width: 480px) and (orientation: portrait){
    body {
        margin: 0px;
        overflow-y:scroll;
    }
	
	#header{ 
		height:100px;
	}
	
    #top {
		background-color: #EBD4C0;
		position: fixed;
		top: 0;
		width: 100%;
		height: 100px;
		z-index: 100;
    }
	
    #logo {
        height: 80%;
        margin: 5px;
        margin-left: 20px;
    }
    #searchbar {
		display:none;
		width:100%;
		position: fixed;
        height: 80px;
        border: 2px solid #FFFFFF;
        border-radius: 4px;
		font-size:35px;

    }
    #profilepic {
        float: right;
        height: 40px;
    }
    #signin {
		display:none;
    }
    #signin:hover{
        background-color: #7e4940;
        cursor: pointer;
    }
	
	#username, #password {
        margin: 8px;
        margin-bottom: 0px;
        width: 470px;
        height: 80px;
        border: 2px solid #FFFFFF;
        border-radius: 4px;
		font-size:40px;
    }


    #containersignin {
        margin: 8px;
        margin-right: 0px;
        float: left;
        height: 80px;
        background-color: #562e33;
        color: #ffffff;
        border: 2px solid #562e33;
        border-radius: 4px;
        width: 238px;
        transition: 0.2s;
		font-size:40px
    }
	
	#containerregister{
		display:none;
	}
    #containerregister:hover, #containersignin:hover{
        background-color: #7e4940;
        border: 2px solid #7e4940;
        cursor: pointer;
    }

    #container{
        z-index: 99;
        position: fixed;
        top: -200px;
        width: 500px;
        background-color: #EBD4C0;
        border-radius: 4px;
        transition: 0.5s;
    }
    #logged_in{
		display:none;
        float:right;
    }
	#userImage{ 
		float:left;
		height: 100%;
		margin-right:10px;
		margin-left:10px;
	}
	#searchIcon{ 
		float:right;
		height: 100%;
	}
	
}

/*sidenav css*/
@media screen and (max-device-width: 480px) and (orientation: portrait){
	.sidenav {
	  height: 100%;
	  width: 0;
	  position: fixed;
	  z-index: 1;
	  top: 0;
	  left: 0;
	  background-color: #111;
	  overflow-x: hidden;
	  transition: 0.5s;
	  padding-top: 120px;
	  float:right;
	}

	.sidenav a {
	  padding: 8px 8px 8px 32px;
	  text-decoration: none;
	  font-size: 70px;
	  color: #818181;
	  display: block;
	  transition: 0.3s;
	}

	.sidenav a:hover {
	  color: #f1f1f1;
	}
	
	.sidenav p {
	  padding: 8px 8px 8px 32px;
	  font-size: 70px;
	  color: #818181;
	  display: block;
	  transition: 0.3s;
	}

	.sidenav p:hover {
	  color: #f1f1f1;
	}

	.sidenav .closebtn {
	  position: absolute;
	  top: 0;
	  right: 25px;
	  font-size: 36px;
	  margin-left: 50px;
	}

	@media screen and (max-height: 450px) {
	  .sidenav {padding-top: 15px;}
	  .sidenav a {font-size: 18px;}
	}
}
