/** Universal styles for mobile, tablet and desktop views*/

.col-12{
	background-color: #FFF;
}
.col-lg-8{
	background-color: #FFFFFF;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}

.profilePic{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#edit_bio{
	width:90%;
	height:70px;
	margin-bottom:20px;
}

/** Styling for mobile and tablet view */
@media screen and (max-device-width: 1024px) and (orientation: portrait){

	h2{
		font-size: 4rem;
		margin-top:10px;
		padding-bottom:10px;
	}

	h1{
		font-size: 5rem;
	}
	
	textarea{
		padding-bottom:20px;
		font-size: 50px;
	}
	
	p{
		font-size:40px;
	}
	
	/** Override bootstap form css which has a higher priority  */
	input{
		font-size: 50px !important;
		margin-top: 20px;
	}
	
	button{ 
		font-size:50px !important;
	}

}