#recipe_body {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 100vh;
    border-left: 8px solid #ffffff;
    border-right: 8px solid #ffffff;
    background-color: #ffffff;
}

#recipe_image { 
	width:400px;
	height:400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
} 


#recipe_name{
    margin: 4px;
    margin-top: 0px;
	margin-right: 5px;
    float: left;
    text-align: left;
    font-size: 30px;
    padding: 0px;
}

#recipe_info { 
	margin-top:10px;
	width:100%;
	height:50px;
}

#recipe_stats { 
	margin-top:10px;
	width:100%;
	height:50px;
}

#recipemeter{
    height: 12px;
    float: left;
    margin-right: 4px;
}

#postedby{ 
	float:right;
}

#recipecat{
	float:left;
}

#recipemeat{
    height: 28px;
    float: right;
    margin-right: 4px;
}

#label{
	float:left;
	margin-right:10px;
	margin-top:0px;
}

#rating{
	float: left;
	height: 12px;
}

.reciperating{
    height: 12px;
    float: right;
    margin-right: 4px;
}


.newreview{ 
	width:100%; 
}

.addcomment{
	margin-top: 30px;
	width: 100%;
}

#id_comment{
	margin-top:60px;
	width:100%;
	height:70px;
}



.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label#last .icon {
  color: #000; 
}



.rating label .icon {
  float: left;
  color: transparent;
}



.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #DAA520;
}


.postedby_url{
    color: inherit;
    text-decoration: none;
}
.postedby_url:hover{
    font-weight: bold;
    text-decoration: none;
}
