
/** Adjust font-sizes for smaller screens
	Less styling needed for this page because bootstap forms 
	were used for the whole page
	*/
@media screen and (max-device-width: 1024px){
	h1{
		font-family:Calibri;
		font-size:5.5rem;
	}
	.errorlist{
		font-size:30px;
		list-style-type:none;
	}

	.input-group-text{
		font-size: 70px;
	}
	
	input[type = text], input[type = password]{
		font-size: 70px;
	}
	
	#bio, input[type = submit]{
		font-size: 70px;
	}
	
	#bioPrepend{
		display:none;
	}

}