

@media screen and (max-device-width: 1024px) and (orientation: portrait){


	h1{
		font-family:Calibri;
		font-size:5.5rem;
	}


	.input-group-text{
		font-size: 70px;
	}
	
	input[type = text], input[type = password]{
		font-size: 70px;
	}
	
	#bio, input[type = submit]{
		font-size: 70px;
	}
	
	#bioPrepend{
		display:none;
	}

}