{% extends 'spatula/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Server Error
{% endblock %}

{% block body_block %}
	<div class = "col-12 col-lg-2"></div>
	<div class = "col-12 col-lg-8">
		<!-- Error message for when server is down-->
		<h1>Ainsley Harriot spilt his soup on the server...</h1><hr/>
		<p>Ok maybe not, but our servers seem to be down at the moment :(</p>
		<p>Sorry if this has spoiled dinner plans</p>
		<p>Hopefully were back online soon!</p>
	</div>
{% end_block %}