
{% extends 'spatula/base.html' %}
{% load staticfiles %}



{% block css_block %}
	<!-- Stylesheet for add_recipe page -->
	<link rel="stylesheet" href="{% static 'css/add_recipe.css' %}">
{% endblock %}

{% block js_block %}
	<!-- JS for add_recipe page-->
	<script src="{% static 'js/add_recipe.js' %}"
    type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block title_block %}
	Add Recipe
{% endblock %}


{% block body_block %}
	<div class = "recipe_form">
		<!-- add_recipe form -->
		<form id="recipe_form" method="post" action=" {% url 'spatulaApp:add_recipe' %} ", enctype="multipart/form-data">
			{% csrf_token %}
			{% for field in form.visible_fields %} 
				<!-- Display recipe stat fields inline using bootstap grids-->
				{%if field.name == "difficulty" %}
				<div class = "row">
					<div class = "col-6 col-lg">
						<div id = "{{ field.name }}">
							{{ field.errors }}
							{{ field.help_text }} 
							{{ field }}
						</div>
					</div>
				{%elif field.name == "cost"%}
					<div class = "col-6 col-lg">
						<div id = "{{ field.name }}">
							{{ field.errors }}
							{{ field.help_text }} 
							{{ field }}
						</div>
					</div>
				{%elif field.name == "diettype"%}
					<div class = "col col-lg">
						<p>Diet:</p>
						<div id = "{{ field.name }}">
							{{ field.errors }}
							{{ field.help_text }} 
							<!-- Using bootstrap for form styling-->
							<div class="form-check form-check-inline">
							  <input class="form-check-input" type="radio" name="diettype" id="id_diettype_0" value="1" checked>
							  <label class="form-check-label" for="id_diettype_0">
								Meat
							  </label>
							</div>
							<div class="form-check form-check-inline">
							  <input class="form-check-input" type="radio" name="diettype" id="id_diettype_1" value="2">
							  <label class="form-check-label" for="id_diettype_1">
								Veg
							  </label>
							</div>
							<div class="form-check form-check-inline">
							  <input class="form-check-input" type="radio" name="diettype" id="id_diettype_2" value="3">
							  <label class="form-check-label" for="id_diettype_2">
								Vegan
							  </label>
							</div>
						</div>
					</div>
				</div>
				{%else%}
					<div id = "{{ field.name }}">
						{{ field.errors }}
						{{ field.help_text }} 
						{{ field }}
					</div>
				{%endif%}
				
			{% endfor %}
			{{ formset.management_form }}
			<!-- Display image inputs inline -->
			<div class = "row" id="images"> 
			{% for form in formset %}
				<div class = "col">
					{{ form }}
				</div>
			{% endfor %}
			</div>
			<input type="submit" name="submit" value="Submit Recipe" />
		</form>

	</div>
{% endblock %}
	

