{% load staticfiles %}
{% load spatulaApp_template_tags %} 
<!DOCTYPE html>

<html>
    <head lang="en">
        
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        
        <script src = "{% static 'js/jquery-1.11.1.min.js' %}"
        type = "text/javascript" charset = "utf-8"></script>
        
        <script src="{% static 'js/ajax.js' %}"
         type="text/javascript" charset="utf-8"></script>
        
        {% block css_block %}
        {% endblock %}

        <meta charset="UTF-8" />
		<title>
            Spatula!
            {% block title_block %}
            
            {% endblock %}
		</title>
	</head>
    <body>

		<script>
				function showSignin(){
					var x = document.getElementById("container");
					if(x.style.display=="none"){
						x.style.display="block";
					}else{
						x.style.display="none";
					}
				}
		</script>

        {% block header_block %}
        <div id="top">

			<a href="{% url 'spatulaApp:index' %}"><img src="{% static 'images/spatula.png' %}" id="logo"></a>

			<input type="text" id="searchbar" name="searchbar" placeholder="Search">

			{% if user.is_authenticated %}	

				<div id="logged_in">

				<a href="{% url 'spatulaApp:show_profile' user.username %}">My Profile</a> |

				<a href="{% url 'spatulaApp:logout' %}">Logout</a>

				</div>

			{% else %}

				<button type="button" id="signin" onclick="showSignin()">Sign In / Register</button>

			{% endif %}

		</div>

		<div id="container">

			{% if not user.is_authenticated %}

				<form id="sign_in" method = "post" action = "{% url 'spatulaApp:index' %}">

						{% csrf_token %}

						<input type="text" id="username" name="username" placeholder="Username"><br>

						<input type="text" id="password" name="password" placeholder="Password"><br>

						<input type="submit" name="register" id="containerregister" value = "Register"/>

						<input type="submit" name ="submit" id="containersignin" value = "Sign in"/>

				</form>

			

			<!--<img src="profile.png" id="profilepic">-->

			{% endif %}

		</div>

        {% endblock %}

        {% block body_block %}
            Webpage bodty is overridden here
        {% endblock %}
        
        {% block javascript %}
        {% endblock %}

    </body>
</html>