<!DOCTYPE html>

<html>
    <head lang="en">
        <link rel="stylesheet" href="index2.css">
        <meta charset="UTF-8" />
		<title>
			Spatula
		</title>
	</head>
    <body>
        <div id="sidebar">
            <div id="categories">
                <input type="checkbox" name="category1">
                <label for="category1"> Category 1</label><br>
                
                <input type="checkbox" name="category1">
                <label for="category2"> Category 2</label><br>
                
                <input type="checkbox" name="category1">
                <label for="category3"> Category 3</label><br>
                
                <input type="checkbox" name="category1">
                <label for="category4"> Category 4</label><br>
            </div>
            <br>
            <div id="meat">
                <input type="checkbox" name="meat">
                <label for="meat"> Meat</label><br>
                
                <input type="checkbox" name="vegetarian">
                <label for="vegetarian"> Vegetarian</label><br>
                
                <input type="checkbox" name="vegan">
                <label for="vegan"> Vegan</label><br>
            </div>
            <br>
            <div id="sort">
                <input type="radio" name="sort">
                <label for="category1"> Rating</label><br>
                
                <input type="radio" name="sort">
                <label for="category2"> Popularity</label><br>
                
                <input type="radio" name="sort">
                <label for="category3"> Difficulty</label><br>
                
                <input type="radio" name="sort">
                <label for="category4"> Cost</label><br>
            </div>
        </div>
        
        <div id="recipies">
            <div class="recipe">
                <img src="samplerecipe1.jpg" class="recipeimg">
                <div class="recipename">
                    <p>Recipe Name</p>
                </div>
                <p class="reciperatingtotal">(128)</p>
                <img src="stars.png" class="reciperating">
                <img src="vegetarian.png" class="recipemeat">
                <div class="recipecategory">
                    <p>Category</p>
                </div>
            </div>
            
            <div class="recipe">
                <img src="samplerecipe2.jpg" class="recipeimg">
                <div class="recipename">
                    <p>Recipe Name</p>
                </div>
                <p class="reciperatingtotal">(128)</p>
                <img src="stars.png" class="reciperating">
                <img src="vegetarian.png" class="recipemeat">
                <div class="recipecategory">
                    <p>Category</p>
                </div>
            </div>
            
            <div class="recipe">
                <img src="samplerecipe3.jpg" class="recipeimg">
                <div class="recipename">
                    <p>Recipe Name</p>
                </div>
                <p class="reciperatingtotal">(128)</p>
                <img src="stars.png" class="reciperating">
                <img src="vegetarian.png" class="recipemeat">
                <div class="recipecategory">
                    <p>Category</p>
                </div>
            </div>
            
            <div class="recipe">
                <img src="samplerecipe4.jpg" class="recipeimg">
                <div class="recipename">
                    <p>Recipe Name</p>
                </div>
                <p class="reciperatingtotal">(128)</p>
                <img src="stars.png" class="reciperating">
                <img src="vegetarian.png" class="recipemeat">
                <div class="recipecategory">
                    <p>Category</p>
                </div>
            </div>
            
            <div class="recipe">
                <img src="samplerecipe5.jpg" class="recipeimg">
                <div class="recipename">
                    <p>Recipe Name</p>
                </div>
                <p class="reciperatingtotal">(128)</p>
                <img src="stars.png" class="reciperating">
                <img src="vegetarian.png" class="recipemeat">
                <div class="recipecategory">
                    <p>Category</p>
                </div>
            </div>
        </div>
    </body>
</html>