{% extends 'spatula/base.html' %}
{% load staticfiles %}
{% load spatulaApp_template_tags %} 

{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block title_block %}
    Index
{% endblock %}

{% block body_block %}
    <div id="sidebar">
        {% if categories %}
        <div id="categories">
            {% for category in categories %}
                <input type="checkbox" name="{{ category }}" checked>
                <label for="{{ category }}"> {{ category }}</label><br>
            {% endfor %}
        </div>
        {% endif  %}
        
        <br>
        {% if diet_choices %}
        <div id="meat">
            {% for type in diet_choices %}
                
             <!-- Type is now a list and 0=int type, 1=name -->
                <input type="checkbox" name="{{ type.1 }}" checked>
                <img src="{{ MEDIA_URL }}images/{{type.0}}.png" class="sidebarmeat">
                <label for="{{ type.1 }}">{{type.1}}</label><br>
            {% endfor %}
        </div>
        {% endif %}
        
        <br>
        <div id="sort">
            <input type="radio" name="sort" checked>
            <label for="category1"> Rating</label><br>
            
            <input type="radio" name="sort">
            <label for="category2"> Popularity</label><br>
            
            <input type="radio" name="sort">
            <label for="category3"> Difficulty</label><br>
            
            <input type="radio" name="sort">
            <label for="category4"> Cost</label><br>
        </div>
    </div>

    <a href="{% url 'spatulaApp:add_recipe' %}"><img src="{% static 'images/newrecipe.png' %}" class="newrecipe"></a>
	{% if recipies %}
    <div id="recipies">
		{% for recipe in recipies %}
        <div class="recipe">
            {% with recipe_images|getKeyImg:recipe.name as image %}
                        <img src="{{image}}" class="recipeimg">
            {% endwith %} 
            <div class="recipename">
                <p>{{ recipe.name }}</p>
            </div>
            <p class="reciperatingtotal">(128)</p>
			{% with 'images/stars/'|add:recipe.rating|add:'.png' as image_static %}
            <img src="{% static image_static %}" class="reciperating">
			{%endwith%}
            <img src="{{MEDIA_URL}}images/{{ recipe.diettype }}.png " class="recipemeat">
            <div class="recipecategory">
			{% with recipe.category|cut:"Category object (" as cut_cat %}
                <p>{{cut_cat|cut:")"}}</p>
			{% endwith %}
            </div>
        </div>
        {% endfor %}
	{% endif %}
{% endblock %}