{% extends 'spatula/base.html' %}
{% load staticfiles %}
{% load spatulaApp_template_tags %} 
{% block title_block %}
	Spatula! User - {{ profile.user }}
{% endblock %}
{% block css_block %}
	<!-- Main stylesheet for profile page -->
	<link rel="stylesheet" href="{% static 'css/profile.css' %}">
	<!--Used for recipe layout-->
	<link rel="stylesheet" href="{% static 'css/index.css' %}"> 
{% endblock %}
{% block js_block %}
	<!--Main js for profile page -->
    <script src="{% static 'js/profile.js' %}"
	type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block meta_block %}
	<meta name="description" content="Recipes by {{ profile.user }} and account info"/>
	<meta name="author" content="{{ profile.user }}">
	<meta name="keywords" content="{{ profile.user }}, account,{% if recipies %}{% for recipe in recipies %}{{recipe.name},}{% endfor %}{% endif %}">
{% endblock %}

{% block body_block %}		
	<div class = "col-12 col-lg-8">
		<h1 id="page_title">{{ profile.user }}</h1>
		{% if canEdit %}<p class="text-center">{{profile.user.email}}</p>{% endif %}
		<hr/>
		<!--Display user profile picture if no profile picture found display temp image -->
		{% if user_pic %}
			<img class = "profilePic" style="border-radius: 50%;" src="../..{{MEDIA_URL}}{{ user_pic|getKeyImg:request.user.username}}">
		{% else %}
			<img class = "profilePic" style="border-radius: 50%;" src="{% static 'images/profile.png' %}" alt="{{ profile.user }}'s profile pic'">	
		{% endif %}
		{% if image_form %}
			<form id="uploadImage" method="post" action=" {% url 'spatulaApp:show_profile' profile.slug %} " enctype="multipart/form-data">
				{% csrf_token %}
				<div class="row">
					<div class="col-12 col-lg-6">
						<div class="row">
							<div class="col-12 col-lg-8">
								{{ image_form.image }}
							</div>
							<div class="col-12 col-lg-4">
								<input class="btn btn-primary" type="submit" name="update_profile_pic" value="Update" />
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-6"></div>
				</div>
			</form>
		{% endif %}
		
		<div class="row">
			<div class="col-12 col-lg-6">
				<hr/>
				<div class="row">
					<div class="col-12">
						<h2 class="page_element">Bio</h2>
					</div>
				</div>
				<!-- if user is on their own profile show editable bio, else show normal page -->
				{% if canEdit %}
					{% csrf_token %}
					<div class="row">
						<div class="col-12 col-lg-6">
							<textarea id="edit_bio" form="user_form" class="page_element">{{ profile.bio }}</textarea>
							<p class="page_element" id="bio_success_msg"></p>
						</div>
						<div class="col-12 col-lg-6">
							<div class="row"><button name='Update' value="Update" onclick="update_bio();" class="btn btn-primary">Update Bio</button></div>
						</div>
					</div>
					
				{% else %}
					<p class="page_element">{{profile.bio}}</p>
				{% endif %}
			</div>
			<!-- Display the users stats: Number of recipes and average rating-->
			<div class="col-12 col-lg-6">
				<hr/>
				<h2>
					{% if canEdit %}
						Your stats
					{% else %} 
						{{profile.user}}'s stats 
					{% endif %}
				</h2>
				<p>User rating: {{ profile.user|getProfileRating }}/10.0<br/>
				Number of recipes: {{ profile.user|getNumRecipies }}</p>
				{% if canEdit %}
					<p><strong>Chefs tip</strong>: User ratings are determined by your recipe ratings. 
					Indepth recipes with clear pictures attract more users who are likely to leave a positive rating!
					</p>
				{% endif %}
			</div>	
		</div>
		{% if canEdit %}
			<button type="button"  class="btn btn-info" data-toggle="collapse" style="margin-bottom: 5px;" data-target="#change_pass_row">Settings</button>
			<div class="row collapse"  id="change_pass_row">
				
				<div class="col-12 col-lg-6">
					<hr />
					<div class=row>
						<label class="col-sm-10" id="password_errors"></label>
					</div>
					<div class="row">
						<label for = "old_password" class="col-sm-2 control-label">Old password</label>
						<div class="col-sm-10">
							<input class="form-control" id="old_password"type="password" id="old_password"/>
						</div>
					</div>
					<div class="row">
						<label for = "new_password" class="col-sm-2 control-label">New password</label>
						<div class="col-sm-10">
							<input class="form-control" type="password" id="new_password"/>
						</div>
					</div>
					<div class="row">
						<label for = "new_password_confirm" class="col-sm-2 control-label">Confirm password</label>
						<div class="col-sm-10">
							<input class="form-control" type="password" id="new_password_confirm"/>
						</div>
					</div>
				</div>
				<div class="clear-left col-12 col-lg-6">
					<hr />
					<div class="row">
						<div class="col-12 col-lg-6">		
							<div class="row">
								<button class ="clear-left page_element btn btn-primary" id="update_password_button" onclick="update_password();">Update Password</button>
							</div>	
							<div class="row" style="margin-top: 5px;">
								<button class ="clear-left page_element btn btn-danger" id="delete_button" onclick="deleteProfile();">Delete Account</button>
							</div>					
						</div>
						<div class="col-12 col-lg-6">					
						</div>
					</div>

				</div>
			</div>
			
			<div class="row"></div>
		{% endif %}
		<hr/>
		<h2 class="page_element">
			{% if not canEdit %}	
			Recipes by {{ profile.user }}
			{% else %}
			Your recipes
			{% endif %}	
		</h2>
		<!--Display the users submitted recipes -->
		<div id="recipies"><!-- id recipies has deliberate spelling mistake-->
			{% include 'spatulaSearchAPI/results.html' %}
		</div>		
	</div>
{% endblock %}

