{% extends 'spatula/base.html' %}
{% load staticfiles %}
{% load spatulaApp_template_tags %} 
{% block title_block %}
	Spatula! Recipe - {{ recipe.name }}
{% endblock %}
{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/recipe.css' %}">
{% endblock %}
{% block js_block %}
<script>
	$(':radio').change(function() {
	  console.log('New star rating: ' + this.value);
	});
</script>
{% endblock %}

{% block body_block %}

<!-- ive moved this pages css to base.css -->

<div id="recipe_body">

	{% with images|getKeyImgList:recipe.name as image %}
	{% if image %}
	{% for i in image %}
		<img id="recipe_image" src="../{{i}}" class="recipeimg">
	{% endfor %}
	{% endif %}
	{% endwith %} 
	<div id = "recipe_info">
		<h1 id="recipe_name">{{ recipe.name }}</h1>
        {% with recipe.category|cut:"Category object (" as cut_cat %}
            <p id="recipecat" >{{cut_cat|cut:")"}}</p>
        {% endwith %}
		
		<p id= "postedby"> <a href="{% url 'spatulaApp:show_profile' recipe.postedby %}" class="postedby_url">{{ recipe.postedby }}</a></p>
	</div>
	<div id="recipe_stats">
		<p id = "label">Difficulty</p>
		<img id ="recipemeter" src="{{MEDIA_URL}}images/{{ recipe.difficulty }}_meter.png ">
		<p id = "label">Cost</p>
		<img id ="recipemeter" src="{{MEDIA_URL}}images/{{ recipe.cost }}_meter.png ">
		
		<img id ="recipemeat" src="{{MEDIA_URL}}images/{{ recipe.diettype }}_diet.png ">
		{% with recipe.id|getRating  as recipeRating %}
		{% with 'images/stars/'|add:recipeRating|add:'.png' as image_static %}
		<img src="{% static image_static %}" class="reciperating">
		{%endwith%}{%endwith%}
	</div>
	<div id = "main">
		<hr/>
		<h2>Tool Required</h2>
		<p>{{ recipe.toolsreq }}</p>
		<hr/>
		<h2>Ingedients</h2>
		<p>{{ recipe.ingredients|linebreaks }}</p>
		<hr/>
		<h2>Method</h2>
		<p>{{ recipe.method|linebreaks }}</p>
		<hr/>
		<div id= "comments">
			<h2>Reviews & Ratings</h2>
			<p id = "label" style ="margin:0px">Average rating</p>
			{% with recipe.id|getRating  as recipeRating %}
			{% with 'images/stars/'|add:recipeRating|add:'.png' as image_static %}
			<img src="{% static image_static %}" class="reciperating">
			{%endwith%}{%endwith%}
			<br/>
			<hr/>
			{% with reviews|getReviews:recipe.name as review %}
			{% for r in review %}
			<div class = "newreview">
				{% with r.rating as userRating %}
				{% with 'images/stars/'|add:userRating|add:'.png' as image_static %}
				<img src="{% static image_static %}" class="reciperating">
				{%endwith%}{%endwith%}
				{% if r.postedby == None %}
					<p>By anonymous</p>
				{% else %}
					<p>By {{r.postedby}}</p>
				{% endif %}
				<p>{{r.comment}}</p>
			</div>
			<hr/>
			{% endfor %}
			{% endwith %} 
			<div class = "addcomment">
				<h2>Add a Review</h2>
				<form id="comment_form" class = "rating" method="post" action=" {% url 'spatulaApp:show_recipe' recipe.slug %} ", enctype="multipart/form-data">
				    <label>
				        <input type="radio" name="rating" value="1" />
						<span class="icon">★</span>
					</label>
					<label>
						<input type="radio" name="rating" value="2" />
						<span class="icon">★</span>
						<span class="icon">★</span>
					</label>
			        <label>
						<input type="radio" name="rating" value="3" />
						<span class="icon">★</span>
						<span class="icon">★</span>
						<span class="icon">★</span>   
				    </label>
				    <label>
						<input type="radio" name="rating" value="4" />
						<span class="icon">★</span>
						<span class="icon">★</span>
						<span class="icon">★</span>
						<span class="icon">★</span>
				    </label>
				    <label id = "last">
						<input type="radio" name="rating" value="5" />
						<span class="icon">★</span>
						<span class="icon">★</span>
						<span class="icon">★</span>
						<span class="icon">★</span>
						<span class="icon">★</span>
				    </label>
				{% csrf_token %}
				{% for field in form.visible_fields %} 
					{{ field.errors }}
					{{ field.help_text }} 
					{{ field }}
				{% endfor %}
				<input type="submit" name="submit" value="Submit Recipe" />
			</div>

		</div>
	</div>
</div>

	
{% endblock %}