{% extends 'spatula/base.html' %}
{% load staticfiles %}
{% load spatulaApp_template_tags %} 
{% block title_block %}
	Spatula! Recipe - {{ recipe.name }}
{% endblock %}
{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/recipe.css' %}">
{% endblock %}
{% block js_block %}
<script src="{% static 'js/recipe.js' %}"
type="text/javascript" charset="utf-8"></script>
<script>
	$(':radio').change(function() {
	  console.log('New star rating: ' + this.value);
	});
</script>
{% endblock %}

{% block body_block %}

<div id="recipe_body">
	{% with images|getKeyImgList:recipe.name as image %}
	{% if image %}
	{% for i in image %}
		<img id="recipe_image" src="..{{MEDIA_URL}}{{i}}" class="recipeimg">
	{% endfor %}
	{% endif %}
	{% endwith %} 
	<div id = "recipe_info">
		<h1 id="recipe_name">{{ recipe.name }}</h1>

		<!-- Display the category -->
		{% if canEdit %}
			<select id= "edit_category" form="recipe_form" class= "page_element">
			{% for cat in categories %}
				{% if cat == recipe.category|cut:"Category object ("|cut:")" %}
					<option value= {{cat}} selected>{{cat}}</option>
				{% else %}
					<option value= {{cat}}>{{cat}}</option>
				{% endif %}
			{% endfor %}
		{% else %}
			{% with recipe.category|cut:"Category object (" as cut_cat %}
				<p id="recipecat" >{{cut_cat|cut:")"}}</p>
			{% endwith %}
		{% endif %}

		<!-- Display the user who posted the recipe -->
		<p id= "postedby"> <a href="{% url 'spatulaApp:show_profile' recipe.postedby %}" class="postedby_url">{{ recipe.postedby }}</a></p>
	</div>
	<div id="recipe_stats">
		
		<!-- Display the difficulty -->
		<p id = "label">Difficulty</p>
		{% if canEdit %}
			<input id= "edit_difficulty" form="recipe_form" class= "page_element" type="range" min="1" max="3">
		{% else %}
			<img id ="recipemeter" src="{{MEDIA_URL}}images/{{ recipe.difficulty }}_meter.png ">
		{% endif %}

		<!-- Display the cost -->
		<p id = "label">Cost</p>
		{% if canEdit %}
			<input id= "edit_cost" form="recipe_form" class= "page_element" type="range" min="1" max="3">
		{% else %}
			<img id ="recipemeter" src="{{MEDIA_URL}}images/{{ recipe.cost }}_meter.png ">
		{% endif %}
		
		<!-- Display the diet choice -->
		{% if canEdit %}
			<form id="edit_choice">
			{% for choice in diet_choices %}
				<input type="radio" name="diet_choices" class="page_element" value= {{choice}}>
				<label for= {{choice}}>{{choice}}</label>
				<br>
			{% endfor %}
			</form>

		{% else %}
			<img id ="recipemeat" src="{{MEDIA_URL}}images/{{ recipe.diettype }}_diet.png ">
		{% endif %}

		<!-- Display the rating -->
		{% with recipe.id|getRating  as recipeRating %}
		{% with 'images/stars/'|add:recipeRating|add:'.png' as image_static %}
		<img src="{% static image_static %}" class="reciperating">
		{%endwith%}{%endwith%}
	</div>
	<div id = "document_container_main">
		<hr/>
		{% csrf_token %}

		<!-- Display the tools required -->
		<h2>Tools Required</h2>
		{% if canEdit %}
			<textarea id="edit_tools" form="recipe_form" class="page_element">{{ recipe.toolsreq }}</textarea>
		{% else %}
			<p>{{ recipe.toolsreq }}</p>
		{% endif %}
		<hr/>

		<!-- Display the ingredients -->
		<h2>Ingredients</h2>
		{% if canEdit %}
			<textarea id="edit_ingredients" form="recipe_form" class="page_element">{{ recipe.ingredients }}</textarea>
		{% else %}
			<p>{{ recipe.ingredients|linebreaks }}</p>
		{% endif %}
		<hr/>

		<!-- Display the method -->
		<h2>Method</h2>
		{% if canEdit %}
			<p><textarea id="edit_method" form="recipe_form" class="page_element">{{ recipe.method }}</textarea></p>
		{% else %}
			<p>{{ recipe.method|linebreaks }}</p>
		{% endif %}
		<hr/>

		<!-- Display a submit button to save changes -->
		{% if canEdit %}
			<input type='submit' name='Update' value="Save Changes" onclick="update_recipe();" class="page_element"/>
			<p class="page_element" id="recipe_success_msg"></p>
		{% endif %}

		<!-- Display the Reviews and ratings -->
		<div id= "comments">
			<h2>Reviews & Ratings</h2>
			<p id = "label" style ="margin:0px">Average rating</p>
			{% with recipe.id|getRating  as recipeRating %}
			{% with 'images/stars/'|add:recipeRating|add:'.png' as image_static %}
			<img src="{% static image_static %}" class="reciperating">
			{%endwith%}{%endwith%}
			<br/>
			<hr/>
			{% with reviews|getReviews:recipe.name as review %}
			{% for r in review %}
			<div class = "newreview">
				{% with r.rating as userRating %}
				{% with 'images/stars/'|add:userRating|add:'.png' as image_static %}
				<img src="{% static image_static %}" class="reciperating">
				{%endwith%}{%endwith%}
				{% if r.postedby == None %}
					<p>By anonymous</p>
				{% else %}
					<p>By {{r.postedby}}</p>
				{% endif %}
				<p>{{r.comment}}</p>
			</div>
			<hr/>
			{% endfor %}
			{% endwith %} 

			{% if not canEdit %}
			<div class = "addcomment">
				{% if user.is_authenticated %}
				<h2>Add a Review</h2>
				<form id="comment_form" class = "rating" method="post" action=" {% url 'spatulaApp:show_recipe' recipe.slug %} ", enctype="multipart/form-data">
				    <label>
				        <input type="radio" name="rating" value="1" />
						<span class="icon">★</span>
					</label>
					<label>
						<input type="radio" name="rating" value="2" />
						<span class="icon">★</span>
						<span class="icon">★</span>
					</label>
			        <label>
						<input type="radio" name="rating" value="3" />
						<span class="icon">★</span>
						<span class="icon">★</span>
						<span class="icon">★</span>   
				    </label>
				    <label>
						<input type="radio" name="rating" value="4" />
						<span class="icon">★</span>
						<span class="icon">★</span>
						<span class="icon">★</span>
						<span class="icon">★</span>
				    </label>
				    <label id = "last">
						<input type="radio" name="rating" value="5" />
						<span class="icon">★</span>
						<span class="icon">★</span>
						<span class="icon">★</span>
						<span class="icon">★</span>
						<span class="icon">★</span>
				    </label>
				{% csrf_token %}
				{% for field in form.visible_fields %} 
					{{ field.errors }}
					{{ field.help_text }} 
					{{ field }}
				{% endfor %}
				<input type="submit" name="submit" value="submit comment" />
				</form>
				{% else %} Login to add a review <br/><hr/>
				{% endif %}
			</div>
			{% endif %}
		</div>
	</div>
</div>

	
{% endblock %}