{% extends 'spatula/base.html' %}
{% load staticfiles %}

{% block css_block %}
	<!-- Main stylesheet for register page-->
   <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block title_block %}
	Create an account to interact with other users
{% endblock %}
{% block meta_block %}
	<meta name="keywords" content="sign up,register,member,create,food,share">
	<meta name="description" content="Sign up to Spatula! and become a registered member who can share their food creations with others around the world!">

	<meta property="og:title" content="Create a Spatula! account" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{% url 'spatulaApp:register' %}" />
	<meta property="og:image" content="{% static 'images/spatula.png' %}" />
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@nathanwelsh8">
	<meta name="twitter:title" content="Join Spatula!">
	<meta name="twitter:description" content="Get started on Spatula! by creating an account">	
{% endblock %}
{% block js_block %}
	<script src="{% static 'js/register.js' %}"
	type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block body_block %}
	{% if not registered %}
		<div class = "row">
			<div class = "col-12 col-lg-4"></div>
			<div class = "col-12 col-lg-4">
				<h1>Create a Spatula! account</h1>
				<hr/>
				<!--Register form styled using bootstrap -->
				<form id="user_form" method="post" action="{% url 'spatulaApp:register' %}" enctype="multipart/form-data" autocomplete="off">
					{% csrf_token %}

					<!-- Display each form -->
					{{username}}
					{{password}}
					{{user_form.username.errors}}
					<div class="input-group mb-3 flex-nowrap">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon3">/account/</span>
						</div>
						{{ user_form.username }}
					</div>
					{{user_form.email.errors}}
					<div class="input-group mb-3 flex-nowrap">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon4">Email</span>
						</div>
						{{ user_form.email }}
					</div>
					{{user_form.password.errors}}
					<div class="input-group flex-nowrap">
						<div class="input-group-prepend">
							<span class="input-group-text" id="addon-wrapping">Password</span>
						</div>
						{{ user_form.password }}
					</div>		
					<br/>
					{{user_form.bio.errors}}
					<div class="input-group">
						<div class="input-group-prepend" id="bioPrepend">
							<span class="input-group-text">About you</span>
						</div>
						{{ profile_form.bio}}
					</div>
					<div class="row">
						<div class="col-4">
							<button type="button"  class="btn btn-info" data-toggle="collapse" style="margin-bottom: 5px;" data-target="#change_terms" >Terms and Conditions</button>
						</div>
						<div class="col-4">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="terms_and_conditions" onclick="termsAccept(this);">
								<label class="custom-control-label" for="terms_and_conditions">I agree to the terms and conditions</label>
							</div>
						</div>
						<div class="col-4"></div>
					</div>
					<!-- Provide a button to click to submit the form. -->
					<input class="form-control btn btn-primary" id = "register_button" type="submit" name="submit" value="Register" onclick="disabledFeedback(this);" disabled/>
					<label class="custom-control-input" id="button_feedback" for="terms_and_conditions"></label>
				</form>
				<div class = "row">
					<div class="col">
						<div class="row collapse"  id="change_terms">
							{% include 'spatula/terms.html' %}
						</div>
					</div>
			</div>
			
			<div class = "col-12 col-lg-4"></div>
			
			</div>
		</div>
	{% else %}
		<strong>Thank you for registering!</strong>
		<a href="{% url 'spatulaApp:index' %}">Return to the homepage.</a><br />
	{% endif %}
{% endblock %}
