<!DOCTYPE html>

<html>
	<head lang="en">
		<meta charset="UTF-8" />
		<title>
			Registration
		</title>
	</head>
	<body>
		<h1>Register for Spatula</h1>

		<form id="user_form" method="post" action="{% url 'spatulaApp:register' %}" enctype="multipart/form-data">

			{% csrf_token %}

			<!-- Display each form -->

			{{ user_form.as_p }}

			<!-- Don't know if the next line is necessary since the user is not adding any data to the profile form when they register -->
			{{ profile_form.as_p }}
			
			<!-- Provide a button to click to submit the form. -->
			<input type="submit" name="submit" value="Register" />
		</form>

	</body>
</html>