<div class="row">
    <div class="col-12">
            <h3>Terms and Site policy</h3>
            <p></p>
        </div>
</div>
<div class="row">
    <div class="col-12">
        <p>Hey your actually reading the terms! Good on you!</p>
        <p>We plan to keep things simple and easy to understand. To do so there are a few things we need to define.</p>
        <p>
            <ol>
                <li>You the user are regarded as the <strong>data subject</strong>, since the data is about you;</li>
                <li><strong>spatu-la.com</strong>, is regarded as the <strong>data controller</strong> or <strong>controller</strong>, since we store your data;</li>
                <li><strong>spatu-la.com</strong>, is regarded as the <strong>data processor</strong> or <strong>processor</strong>, as we process your data on our servers.</li>
            </ol>
        </p>
        <p>Ok now that's out of the way, how will spatu-la.com, the data controller, use your data? Appologies if our language is drab...</p>
        
        <ol>
            <li>
                <p> First things first, spatu-la.com is ownened by nathan welsh and all Iltellectual Property located on spatu-la.com is copyrighted to Nathan Welsh. This includes the layout of the website.</p>
                <p>There are however expections to this:</p>
                <ul>
                    <li><p>The spatula logo was created by Krzysztof Mrozi&#505;ski and this Intelectual Property belongs to him</p></li>
                    <li><p>The image icons are distributed under cc licence and hence are not ownened by nathan or anyone at spatu-la.com</p></li>
                </ul>
            </li>
            <li><p>The data controller, like countless other websites, are in partnership with Google's Adsense program. This means that google collects data on your browsing data and supplies ourwebsite with ads which it thinks are relevent to you. This data gathering is outwith our controll and the data controller does not store any of Googles Adsense data about any data subject on our server. 
            </p>
            </li>
            <li>
                <p>When creating your user account, the data controller store's your username, email, and bio text description on our server. Your password is also stored there (it is encrypted so it cannot be accessed or understood by anyone)</p>
            </li>
            <li>
                <p>data subject's information will not be shared outwith spatu-la.com. This means data controller shall not send your account data to third party companies.</p>
            </li>
            <li>
                <p>All content uploaded by data subject's to the data controller's servers are done so with the agreement that they are to become Joint Intelectual Property between the data subject and the data controller</p>
                <p>This means that you, the data subject agree to allowing the data controller to use your uploaded content for financial gain or advertisment without forewarning</p>
                <p>The data controller classifies uploaded content as:</p>
                <ol>
                    <li>
                        <p>Profile images</p>
                    </li>
                    <li>
                        <p>Recipe images</p>
                    </li>
                    <li>
                        <p>Submitted recipes</p>
                    </li>
                </ol>
                <p>Since the uploaded content is joint Intellectual Property between you, the data subject, and the data controller. The data subject is free to modify, redistribute and seek financial gain from their uploaded content</p>
                <p>In accordance with the <a href="https://gdpr-info.eu/">GDPR</a> you have the ability to delete your uploaded content and account if you so wish.</p>
                
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h3>GDPR Complience</h3><br/>
        <p>In accordance with the <a href="https://gdpr-info.eu/">GDRP</a> the data controller has specified the intended usage of the data subject's information. The data subject has the following rights</p>
        <p>
            <ol>
                <li>
                    <p><strong>Art. 15: Right of access by the data subject</strong></p>
                    <p>The data subject can view their data at any time, via their account page or relevent recipe.</p>
                </li>
                <li>
                    <p><strong>Art. 16: Right to rectification</strong></p>
                    <p>
                        If the data subject's account information is incorrect, they can change it, or request for it to be ammended. It is possible to change username however this must be done by contacting the data controller and placing a request. The email associated with the account must be used to do this.
                    </p>
                </li>
                <li>
                    <p><strong>Art. 17: Right to erasure (‘right to be forgotten’)</strong></p>
                    <p>The data subject shall have the right to obtain from the controller without undue delay the rectification of inaccurate personal data concerning him or her. Taking into account the purposes of the processing, the data subject shall have the right to have incomplete personal data completed, including by means of providing a supplementary statement.</p>
                </li>
                <li>
                    <p><strong>Art. 18-Right to restriction of processing</strong></p>
                    <ul>
                        <li>
                            <p>If the data subject is convinced data is incorrect then they are allowed to contest said data from being processed for a period of time. The controller will then seek to verify the accuracy of the data;</p>
                        </li>
                        <li>
                            <p>If the processing is unlawful and the data subject opposes the erasure of the personal data and requests the restriction of their use instead;</p>
                        </li>
                        <li>
                            <p>If The controller no longer needs the personal data for the purposes of the processing, but they are required by the data subject for the establishment, exercise or defence of legal claims;</p>
                        </li>
                        <li>                            
                            <p>If the data subject has objected to processing pursuant to Article 21(1) pending the verification whether the legitimate grounds of the controller override those of the data subject.</p>
                        </li>
                        <p>In cases where the controller seeks to lift the restriction then the data subject shall be notified</p>
                    </ul>
                </li>
                <li>
                    <p><strong>Art. 19: Notification obligation regarding rectification or erasure of personal data or restriction of processing</strong></p>
                    <p>The controller shall communicate any rectification or erasure of personal data or restriction of processing carried out in accordance with Article 16, Article 17(1) and Article 18 to each recipient to whom the personal data have been disclosed, unless this proves impossible or involves disproportionate effort. The controller shall inform the data subject about those recipients if the data subject requests it.</p>
                </li>
                <li>
                    <p><strong>Art. 20: Right to data portability</strong></p>
                    <p>The data subject has the right to recieve a copy of all data stored on them by the controller</p>
                </li>
                <li>
                    <p>
                        <strong>Art. 21: Right to object</strong>
                    </p>
                    <p>The data subject has the right to object to their data being processed. This also includes for marketing reasons. To comply with this, the data controller shall notify the data subject when their data is to be used for marketing. If the data subject chooses to contest this then their descision shall be respected.</p>
                </li>
                <li>
                    <p><strong>Art. 22: Automated individual decision-making, including profiling</strong></p>
                    <p>The data subject shall have the right not to be subject to a decision based solely on automated processing, including profiling, which produces legal effects concerning him or her or similarly significantly affects him or her.</p>
                </li>
            </ol>
        </p>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12"><h3>Attributions</h3></div>
            </div>
            <div class="col-12">
                <ul>
                    <li>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
